
@import "bootstrap-sprockets";
@import "bootstrap";


.green {
  background-color: green
  }
  
.pink {
    background-color: pink
    }
.yellow {
      background-color: yellow  
      }
.maroon {
        background-color: maroon
        }
.red {
          background-color: red
          }
.purple {
    background-color: purple
  }
  .orange {
    background-color: orange
  }
